html 
    head 
        title fileFom 
    body 
        h1 Upload file 
        form(action="/" method="POST")
            input(type="file" placeholder="Enter the file here" name="myfile" enctype="multipart/form-data" required)  
            br
            input(type="submit")submit 